@import '../pallete';

.footer {
  background-color: $BACKGROUND_GRAY;

  .container {
    margin: 0 auto;
    max-width: 1024px;

    .content {
      padding: 15px 60px;

      @media screen and (max-width: 650px) {
        padding: 15px 10px;
      }

      display: flex;
      justify-content: space-between;
      align-items: center;

      .information {
        span {
          color: $LIGHT_BLACK;
          font-size: 12px;

          @media screen and (max-width: 650px) {
            font-size: 8px;
          }
        }

        .email {
          margin-left: 100px;

          @media screen and (max-width: 650px) {
            margin-left: 5px;
          }
        }

        .copyright {
          float: left;
          padding-top: 5px;
        }
      }

      .logo {
        width: 13%;
        opacity: 50%;
        filter: grayscale(100%);
      }
    }
  }
}
